# PostgreSQL connection string
# Example: postgresql://username:password@localhost:5432/otp_auth_db
DATABASE_URL="postgresql://postgres.amppxyqniuhozytblhes:tigerfishcatdogg@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.amppxyqniuhozytblhes:tigerfishcatdogg@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
# Gmail SMTP credentials (use an "App Password", not your normal Gmail password)
# You can also use Mailtrap for testing - see README for details
EMAIL_USER=srinivaskalyan7676@gmail.com
EMAIL_PASS=kepvamagkyrwycjj

# Port the backend server will run on
PORT=4000